#d1{
    background-color: rgb(255, 255, 255);
    border-top: 10px rgb(15, 243, 15) solid;
    border-left: 10px rgb(15, 243, 15) solid;
    border-bottom: 10px rgb(58, 58, 255) solid;
    border-right: 10px rgb(58, 58, 255) solid;
 
 
   
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    color: rgb(255, 0, 13);
    text-align: center;
    text-decoration: underline;
    text-decoration-color: crimson;

    

}
h5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-weight: 900;
    color: rgb(253, 4, 4);
    text-align: center;
}
h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    color: rgb(252, 14, 14);
    text-align: center;
}

span{
    color: rgb(24, 243, 24);
    text-align: center;
    font-weight: bolder;
}

p{
    font-family: sans-serif;
    color: rgb(112, 236, 11);
    text-align: center;
}